.start {
    background-image: url('../../assets/image/bgImg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size : contain;
    background: url('../../assets/image/bgImg.jpg') no-repeat center/cover;

    border: 0;
    padding: 0; 
    height: 100vh; 

    justify-content: center;
    align-items: center;
}

.startTitle {
    font-weight: bold;
    text-align: center;
    padding-top: 5%;
    font-size: 3rem;
}

.startBody  {
    margin-top: 5%;
    margin-right: 5%;
    float: right;
    padding: 10px 30px;
}

.startLogin  {
    display: flex;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
}

.startLogin a {
    display: inline-block;
    padding: 0 20px;
    justify-content: center;
    font-size: 2rem;
}

