.container {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    top : 50%;
    left : 50%;
    right : auto;
    bottom : auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right : -50%;
    transform : translate(-50%, -50%);
    background-color: #00000069;
}

.modal {
    display: grid;
    width: 40%;
    height: auto;
    border-radius: 1.5rem;
}

.modalHeader {
    display: flex;
    height: 4rem;
    background-color: #40919e;
}

.modalHeader p {
    width: 95%;
    font-size: 1.5rem;
    margin: 1rem;
}

.modalHeader button {
    display: flex;
    justify-content: flex-end;
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    margin: 0.5rem;
    color: white;
}

.modalHeader button:hover {
    color: #0012ff;
}

.modalBody {
    background-color: white;
}

.modalForm {
    margin: 2rem;
}

.modalForm label {
    font-size: 0.8rem;
}

.modalForm input {
    box-shadow: 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    appearance: none;
    border: 1rem;
    border-radius: 0.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    color: gray;
    line-height: 1.25;
    margin: 0 0 1rem 1rem;
    width: 90%;
}

.modalFooter {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 4rem;
    background-color: white;
}

.modalFooter button {
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-size: 1rem;
    background-color: #40919e;
    border: none;
    border-radius: 0.5rem;
    color:white;
}

.modalFooter button:hover {
    background-color: #005563;
}