.container {
    height: 18rem;
    overflow-x: scroll;
    white-space: nowrap;
}

.cards {
    display: inline-block;
    margin: 1rem;
    width: 15rem;
    height: 15rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.5);
    text-align: center;
    cursor: pointer;
}

.cardInfo {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.companyName {
    justify-content: center;
}

.companyName span{
    font-size: 2rem;
    margin: 0 0.5rem 0 0.5rem;
    color: slategray;
}

.date {
    margin: 1rem 0 1rem 0;
    font-size: 0.8rem;
    color: #4e4b50;
}

.duration {
    font-size: 1.5rem;
    color: #ff0d00;
}

.position {
    margin: 1.5rem 0 1.5rem 0;
    color: grey;
}

.cardState {
    display: flex;
    border-radius: 1rem;
    justify-content: center;
    color: #13798a;
    background-color: #d4d4d4;
}

