body {
    background-image: url('../../assets/image/bgImg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size : contain;
    background: url('../../assets/image/bgImg.jpg') no-repeat center/cover;

    border: 0;
    padding: 0; 
    height: 100vh;
}