@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Sunflower:wght@300&display=swap');

.font {
    font-family: 'Bad Script', cursive;
    font-size: 1.4rem;
}

.sunflower {
    font-family: 'Sunflower', sans-serif;
}