.header {
    padding: 10px 20px;
}

.header_logo {
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 2rem;
}

.userText {
    justify-content: center;
    
}