.navigation {
    background-color: white;
    display: flex;
    margin: 0.5rem;
    align-items: center;
}

.headerLeft {
    padding: 10px 20px;
    flex-grow: 1;
    display: flex;
}

.headerLeft span {
    padding-left: 0.5rem;
}

.headerLogo {
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.headerRight {
    display: flex;
    margin-left: 1rem;
    padding: 0 1rem;
}

.profile {
    display: flex;
    justify-content: flex-end;
}

.insertBtn {
    display: inline-flex;
    font-size: 2rem;
    margin: 0 1.5rem 0 1.5rem;
    color: #776f69;
    cursor: pointer;
}
