.todoContainer {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
}

button {
    cursor: pointer;
}

.todoBox {
	background: #fff;
    padding: 1rem;
	margin: 1rem;
	position: relative;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
    text-align: center;
    height: 20rem;
}

.header {
    display: flex;
    border-bottom: 1px solid #e6e6e6;
}
.header::before {
    content: '';
    display: block;
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 2rem;
    height: 2rem;
    z-index: 1;
    opacity: 1;
    background-repeat: no-repeat;
    background-position: center;
}

.listBox {
    overflow: scroll;
    overscroll-behavior: contain;
    height: 15rem;
    background-color: whitesmoke;
    margin: 1rem 0.5rem;
    border-radius: 0.5rem;
    z-index: 2;
}

.newTodo {
	position: relative;
	margin: 0.5rem;
	width: 90%;
	font-size: 1rem;
    font-weight: bold;
	font-family: inherit;
	font-weight: inherit;
	line-height: 1em;
	border: 0;
	color: inherit;
    box-sizing: border-box;
    height: 2.5rem;
}

.newTodo {
    padding: 1rem;   
    border-radius: 0.5rem;
    border: none;
    background: #efefef;
    transition: background .3s ease;
    flex: 1;
}

.addBtn {
    background: none;
    padding-right: 1rem;
    font-size: 1rem;
    display: flex;
    outline: none;
    border: none;
    align-items: center;
    /*transition: opacity .3s ease;*/
    transition: 0.1s background ease-in;
  }

.list {
	margin: 13px 0;
	padding: 0;
    list-style: none;
    text-align: start;
}

.list li {
    display: flex;
	position: relative;
    font-size: 1rem;
    color: rgb(92, 89, 89); 
    border-radius: 10px;
    transition: background .3s ease; 
    padding: 1rem 0.5rem;
}
 .list li:hover {
    background: #e6cece;
}   

.checkbox {
    cursor: pointer;
    flex: 1;
    display: flex;
    align-items: center;
}

.checkbox svg {
    font-size: 1.5rem;
}

.checkbox .label {
    margin-left: 0.5rem;
    flex: 1;
}

.remove {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    cursor: pointer;
}

.remove:hover {
	color: red;
}
