.body {
    justify-content: center;
    margin: 0 1rem 0 1rem;
}
.container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
    margin: 1rem 4rem 1rem 4rem;
}

.btn {
    display: flex;
    justify-content: flex-end;
}
.updateBtn {
    background-color: #e4aadf;
    outline: none;
    border: none;
    border-radius: 2rem;
    color: white;
    padding: 0.5rem;
    margin: 0.2rem;
}

.saveBtn {
    background-color: #80b4e2;
    outline: none;
    border: none;
    border-radius: 2rem;
    color: white;
    padding: 0.5rem;
    margin: 0.2rem;
}

.deleteBtn {
    background-color: #9692cc;
    outline: none;
    border: none;
    border-radius: 2rem;
    color: white; 
    padding: 0.5rem;
    margin: 0.2rem;
}

.updateBtn:hover {
    background-color: #f771ec;
}

.saveBtn:hover {
    background-color: #2482d6;
}

.deleteBtn:hover {
    background-color: #515abb;
}

.info {
    display: flex;
    background-color: #f0ecff;
    justify-content: center;
    height: 50rem;
    overflow: scroll;
}

.resume {
    display: flex;
    background-color: #e0ffdc;
    height: 50rem;
    overflow: scroll;
}

.infoBox {
    margin: 1rem;
    width: 100%;
}

.companyName {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.companyName span {
    font-size: 3rem;
    padding: 0;
    color: blueviolet;
}

.inputBox {
    display: flex;
    font-size: 1rem;
    margin: 2rem 1rem 2rem 1rem;
}

.inputBox label {
    width: 5rem;
    color: #8870e4;
}

.inputBox p {
    margin: 0 1rem 0 1rem;
    font-size: 1rem;
}

.memoBox {
    display: grid;
    margin: 2rem 1rem 2rem 1rem;
}

.memo {
    background-color: transparent;
    border: 1rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    height: 20rem;
    resize: none;
    margin: 1rem;
    padding: 1rem;
}

.resumeBox {
    margin: 1rem;
}

.title {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.5);
    margin: 0.5rem 0 0.5rem 0;
    padding: 0.5rem;
}

.title p {
    margin: 0;
}
.title span {
    display: flex;
    justify-content: flex-end;
}

.context textarea{
    display: flex;
    width: 100%;
    height: 15rem;
    resize: none;
    overflow: scroll;
}

.textCnt {
    font-size: 0.7rem;
    color: grey;
}
.textCnt p{
    display: flex;
    justify-content: flex-end;
}